<div class="main columns is-centered">
    <div class="box column is-one-third">
        <h1 class="title has-text-centered">GIVE YOU CAR A COOL NAME!!!</h1>
        <div class="field">
            <label class="label">Enter your month of birthday:</label>
            <div class="control">
                <input class="input" (input)="monthValue($event.target.value)" type="number" min="1" max="12">
            </div>
        </div>
        <div class="field">
            <label class="label">Enter your day of birthday:</label>
            <div class="control">
                <input class="input" (input)="dayValue($event.target.value)" type="number" min="1" max="31">
            </div>
        </div>
        <div>
            <label class="checkbox">Give name by the color?</label>
            <input (click)="haveColor()" type="checkbox"><input class="input" type="text" placeholder="color name" *ngIf="color" (input)="colorNameFunc($event.target.value)">
        </div>
        <div class="field">
            <button class="button is-link is-fullwidth" [disabled]="!(month && day) || (month>12 || day > 31)" (click)="generateName()">Show!</button>
        </div>
        <div class="nameLabel" *ngIf="carName">
            <label>Your superhero car name is:</label>
            <input class="name title" type="text" [value]="carName">
        </div>
    </div>
</div>